In [1]:
import pandas as pd
import numpy as np

In [18]:
res = pd.read_csv('pois_test.csv', sep = ' ')

In [19]:
labels = pd.read_csv('diff_exp.csv', sep =' ').rename(columns={"x": "actual"})

In [20]:
res = res.sort_values('gname')

In [25]:
df = res.merge(labels, how="left", left_on='gname', right_index=True)

In [27]:
df['pred'] = df['pval'].apply(lambda x: 1 if x < 0.05 else 0)

In [29]:
#df['dif'] = abs(df['actual']-df['pred'])

In [40]:
res['gname'][0]

1

In [43]:
res

           nc  gname         tt      pval       fdr    log.fc
g1       3188      1   1.906260  0.171996  0.587089  0.695252
g2        154      2  28.602823  0.001032  0.072922  1.158924
g3        902      3   8.587709  0.018609  0.224188  0.662853
g4       1309      4   6.011505  0.036124  0.300259  0.534383
g5        252      5  21.405060  0.002276  0.097038  1.652827
...       ...    ...        ...       ...       ...       ...
g12489  11899  12489   0.003418  0.948225  0.867538  0.039114
g12490   7858  12490   0.263956  0.573670  0.794407 -0.173938
g12491   3798  12491   1.454289  0.221723  0.635400  0.340638
g12492  10997  12492   0.023221  0.865124  0.856335  0.140132
g12493   6447  12493   0.499081  0.446628  0.753962  0.262891

[12467 rows x 6 columns]

In [42]:
df

,nc,gname,tt,pval,fdr,log.fc,actual,pred,dif
g1,3188,1,1.906260,0.171996,0.587089,0.695252,1,0,1
g2,154,2,28.602823,0.001032,0.072922,1.158924,1,1,0
g3,902,3,8.587709,0.018609,0.224188,0.662853,1,1,0
g4,1309,4,6.011505,0.036124,0.300259,0.534383,1,1,0
g5,252,5,21.405060,0.002276,0.097038,1.652827,1,1,0
...,...,...,...,...,...,...,...,...,...
g12489,11899,12489,0.003418,0.948225,0.867538,0.039114,0,0,0
g12490,7858,12490,0.263956,0.573670,0.794407,-0.173938,0,0,0
g12491,3798,12491,1.454289,0.221723,0.635400,0.340638,0,0,0
g12492,10997,12492,0.023221,0.865124,0.856335,0.140132,0,0,0
g12493,6447,12493,0.499081,0.446628,0.753962,0.262891,0,0,0